/* Bios terminal */
.bios-terminal {
	background-color: #000000;
	color: #ffffff;
	font-family: "Free Pixel";
	font-size: 15px;
	height: calc(100% - 10px);
	margin: 0px;
	overflow: auto;
	padding: 5px 5px;
	width: calc(100% - 10px);
	white-space: break-spaces;
	word-break: break-all;
}

/* Bios terminal stdin */
.bios-terminal-stdin {
	position: relative;
}

.bios-terminal-cursor,
.bios-terminal-highlight,
.bios-terminal-text {
	position: absolute;
}

.bios-terminal-cursor,
.bios-terminal-highlight {
	pointer-events: none;
	user-select: none;
}

.bios-terminal-cursor {
	top: 3px;
}

.bios-terminal-highlight::after {
	background-color: #ffffff8f;
	content: attr(data-highlight);
}
